@inject ThemeService ThemeService

<button @onclick="ToggleThemeOnClick" class="theme-toggle @ThemeService.CurrentTheme">
    <span class="theme-icon light">☀️</span>
    <span class="theme-icon dark">🌙</span>
</button>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ThemeService.GetCurrentTheme();
        await ThemeService.ApplyCurrentTheme();
    }

    private async Task ToggleThemeOnClick()
    {
        await ThemeService.ToggleTheme();
        await ThemeService.ApplyCurrentTheme();
    }
}
